/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS 
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER

*/
/* BASE TEXT COLORS */
body {
  color: rgba(61, 57, 53, 0.8);
}

/* BASE HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color: #3d3935;
}

/* BASE TEXT FONTS */
body {
  font-family: "freight-text-pro", Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-family: "freight-display-pro", Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "english-grotesque", Helvetica, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.button-type {
  font-family: "english-grotesque", Helvetica, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  margin: 0 auto;
  color: white;
}

.italic {
  font-family: "freight-display-pro", Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-style: italic;
  margin-left: -1em;
}

.essentials {
  color: white;
  padding-top: 1em;
}

.growth {
  color: #fffdd1;
  padding-top: 1em;
}

.growth-bigger {
  color: white;
  padding-top: 1em;
}

.text1 {
  color: white;
}

.text2 {
  color: white;
}

.hide-color1 {
  color: #3d3935;
}

.subhead-essentials {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.subhead-growth {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.subhead-growth-bigger {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

/* BASE TYPOGRAPHY */
body {
  font-weight: 400;
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5em 0;
}

.hero-body {
  font-size: larger;
}

.hero-body-bold {
  font-family: "english-grotesque", Helvetica, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: larger;
  line-height: 1.4;
}

.center-ellie {
  padding-top: 1em;
  text-align: center;
  color: #5c604d;
}

.center-autumn {
  padding-top: 1em;
  text-align: center;
  color: #ff6961;
}

.position {
  text-align: center;
}

/* TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

/* LIMIT NUMBER OF CHRACTERS PER LINE */
p {
  max-width: 40em;
}

/* LINKS */
a {
  color: #5c604d;
}
a a:hover {
  color: #393b30;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: #5c604d;
}

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1.1;
  color: rgba(61, 57, 53, 0.5);
  margin: 0.25em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "freight-display-pro", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin: 3em 0;
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: #5c604d;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 4em;
  border-radius: 15px;
  margin: 1em 0.5em 1em 0;
}
.button:hover {
  color: #fff;
  background-color: #393b30;
}

.button1 {
  display: inline-block;
  background-color: white;
  color: #3d3935;
  font-family: "english-grotesque", Helvetica, Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0.5em 2em;
  border-radius: 15px;
  margin: 1em 0.5em 1em 0;
}
.button1:hover {
  color: #fff;
  background-color: #393b30;
}

.button2 {
  display: inline-block;
  background-color: #3d3935;
  color: white;
  font-family: "english-grotesque", Helvetica, Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0.5em 4em;
  border-radius: 15px;
  margin: 1em 0.5em 1em 0;
}
.button2:hover {
  color: #fff;
  background-color: #393b30;
}

.button3 {
  display: inline-block;
  background-color: #3d3935;
  color: white;
  font-family: "english-grotesque", Helvetica, Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0.5em 3em;
  border-radius: 15px;
  margin: 1em 0.5em 1em 0;
}
.button3:hover {
  color: #fff;
  background-color: #393b30;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;
  -webkit-box-shadow: 2px 2px 15px #1e2321;
          box-shadow: 2px 2px 15px #1e2321;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: 0.6s ease transform, 0.6s -webkit-box-shadow;
  transition: 0.6s ease transform, 0.6s -webkit-box-shadow;
  transition: 0.6s ease transform, 0.6s box-shadow;
  transition: 0.6s ease transform, 0.6s box-shadow, 0.6s -webkit-box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5c604d;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #50bfe6;
          box-shadow: 0 0 1px #50bfe6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

.monthly-theme-image {
  padding-left: 3em;
}

/* RESET BODY */
body {
  margin: 0;
  background-color: #efe4d4;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.container-pricing {
  width: 100%;
}

.package-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.packages-essentials {
  margin: 20px;
  width: 250px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #3d3935;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 0 19px 38px #1e2321, 0 15px 12px rgba(30, 35, 33, 0.2);
          box-shadow: 0 19px 38px #1e2321, 0 15px 12px rgba(30, 35, 33, 0.2);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #f4f4f4;
}

.packages-growth {
  margin: 20px;
  width: 250px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #5c604d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 0 19px 38px #1e2321, 0 15px 12px rgba(30, 35, 33, 0.2);
          box-shadow: 0 19px 38px #1e2321, 0 15px 12px rgba(30, 35, 33, 0.2);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #f4f4f4;
}

.packages-growth-bigger {
  margin: 20px;
  width: 250px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #ff6961;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 0 19px 38px #1e2321, 0 15px 12px rgba(30, 35, 33, 0.2);
          box-shadow: 0 19px 38px #1e2321, 0 15px 12px rgba(30, 35, 33, 0.2);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #f4f4f4;
}

.list li {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}

.first {
  margin-top: 40px;
}

.list {
  width: 80%;
}

ol,
ul {
  padding: 0;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPE */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 2%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 96%;
  }
  .row .one-half {
    width: 46%;
  }
  .row .one-third {
    width: 29.3333%;
  }
  .row .two-thirds {
    width: 62.6666%;
  }
  .row .one-fourth {
    width: 21%;
  }
  .row .three-fourths {
    width: 71%;
  }
  .row .push-one-fourth {
    margin-left: 27%;
  }
  .row .push-one-third {
    margin-left: 35.3333%;
  }
  .row .push-one-half {
    margin-left: 52%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -2%;
  margin-right: -2%;
}

.row2 > .column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 2%;
  margin-right: 2%;
}

.row2 > .column.one-half {
  max-width: 46%;
}

.row2 > .column.one-third {
  max-width: 29.3333%;
}

.row2 > .column.two-thirds {
  max-width: 62.6666%;
}

.row2 > .column.one-fourth {
  max-width: 21%;
}

.row2 > .column.centered {
  margin-left: auto;
  margin-right: auto;
}

.demo .row {
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* Grid */
@media (min-width: 768px) {
  .mygrid {
    /* background-color: rgba(255, 0, 0, 0.1); */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (8.333%)[12];
    grid-template-columns: repeat(12, 8.333%);
    -ms-grid-rows: (10vh)[4];
    grid-template-rows: repeat(4, 10vh);
    font-size: 14px;
  }
  .mygrid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .mygrid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .mygrid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .mygrid > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .mygrid > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .mygrid > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }
  .mygrid > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .mygrid > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
  }
  .mygrid > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .mygrid > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
  }
  .mygrid > *:nth-child(11) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
  .mygrid > *:nth-child(12) {
    -ms-grid-row: 1;
    -ms-grid-column: 12;
  }
  .mygrid > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .mygrid > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .mygrid > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .mygrid > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  .mygrid > *:nth-child(17) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  .mygrid > *:nth-child(18) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
  }
  .mygrid > *:nth-child(19) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }
  .mygrid > *:nth-child(20) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
  }
  .mygrid > *:nth-child(21) {
    -ms-grid-row: 2;
    -ms-grid-column: 9;
  }
  .mygrid > *:nth-child(22) {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
  }
  .mygrid > *:nth-child(23) {
    -ms-grid-row: 2;
    -ms-grid-column: 11;
  }
  .mygrid > *:nth-child(24) {
    -ms-grid-row: 2;
    -ms-grid-column: 12;
  }
  .mygrid > *:nth-child(25) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .mygrid > *:nth-child(26) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .mygrid > *:nth-child(27) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .mygrid > *:nth-child(28) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
  .mygrid > *:nth-child(29) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .mygrid > *:nth-child(30) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
  }
  .mygrid > *:nth-child(31) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .mygrid > *:nth-child(32) {
    -ms-grid-row: 3;
    -ms-grid-column: 8;
  }
  .mygrid > *:nth-child(33) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
  }
  .mygrid > *:nth-child(34) {
    -ms-grid-row: 3;
    -ms-grid-column: 10;
  }
  .mygrid > *:nth-child(35) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
  }
  .mygrid > *:nth-child(36) {
    -ms-grid-row: 3;
    -ms-grid-column: 12;
  }
  .mygrid > *:nth-child(37) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .mygrid > *:nth-child(38) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .mygrid > *:nth-child(39) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .mygrid > *:nth-child(40) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }
  .mygrid > *:nth-child(41) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
  }
  .mygrid > *:nth-child(42) {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
  }
  .mygrid > *:nth-child(43) {
    -ms-grid-row: 4;
    -ms-grid-column: 7;
  }
  .mygrid > *:nth-child(44) {
    -ms-grid-row: 4;
    -ms-grid-column: 8;
  }
  .mygrid > *:nth-child(45) {
    -ms-grid-row: 4;
    -ms-grid-column: 9;
  }
  .mygrid > *:nth-child(46) {
    -ms-grid-row: 4;
    -ms-grid-column: 10;
  }
  .mygrid > *:nth-child(47) {
    -ms-grid-row: 4;
    -ms-grid-column: 11;
  }
  .mygrid > *:nth-child(48) {
    -ms-grid-row: 4;
    -ms-grid-column: 12;
  }

  .hero-right {
    -ms-grid-column: 8;
        grid-column-start: 8;
    -ms-grid-column-span: 5;
    grid-column-end: 13;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }

  .hero-left {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }

  .ellie {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }

  .autumn {
    -ms-grid-column: 7;
        grid-column-start: 7;
    -ms-grid-column-span: 7;
    grid-column-end: 14;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}
@media (min-width: 768px) {
  .mygrid2 {
    /* background-color: rgba(255, 0, 0, 0.1); */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (7.143%)[14];
    grid-template-columns: repeat(14, 7.143%);
    -ms-grid-rows: (10vh)[10];
    grid-template-rows: repeat(10, 10vh);
    font-size: 16px;
  }
  .mygrid2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(11) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(12) {
    -ms-grid-row: 1;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(13) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(14) {
    -ms-grid-row: 1;
    -ms-grid-column: 14;
  }
  .mygrid2 > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(17) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(18) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(19) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(20) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(21) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(22) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(23) {
    -ms-grid-row: 2;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(24) {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(25) {
    -ms-grid-row: 2;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(26) {
    -ms-grid-row: 2;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(27) {
    -ms-grid-row: 2;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(28) {
    -ms-grid-row: 2;
    -ms-grid-column: 14;
  }
  .mygrid2 > *:nth-child(29) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(30) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(31) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(32) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(33) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(34) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(35) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(36) {
    -ms-grid-row: 3;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(37) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(38) {
    -ms-grid-row: 3;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(39) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(40) {
    -ms-grid-row: 3;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(41) {
    -ms-grid-row: 3;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(42) {
    -ms-grid-row: 3;
    -ms-grid-column: 14;
  }
  .mygrid2 > *:nth-child(43) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(44) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(45) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(46) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(47) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(48) {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(49) {
    -ms-grid-row: 4;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(50) {
    -ms-grid-row: 4;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(51) {
    -ms-grid-row: 4;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(52) {
    -ms-grid-row: 4;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(53) {
    -ms-grid-row: 4;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(54) {
    -ms-grid-row: 4;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(55) {
    -ms-grid-row: 4;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(56) {
    -ms-grid-row: 4;
    -ms-grid-column: 14;
  }
  .mygrid2 > *:nth-child(57) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(58) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(59) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(60) {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(61) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(62) {
    -ms-grid-row: 5;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(63) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(64) {
    -ms-grid-row: 5;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(65) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(66) {
    -ms-grid-row: 5;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(67) {
    -ms-grid-row: 5;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(68) {
    -ms-grid-row: 5;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(69) {
    -ms-grid-row: 5;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(70) {
    -ms-grid-row: 5;
    -ms-grid-column: 14;
  }
  .mygrid2 > *:nth-child(71) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(72) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(73) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(74) {
    -ms-grid-row: 6;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(75) {
    -ms-grid-row: 6;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(76) {
    -ms-grid-row: 6;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(77) {
    -ms-grid-row: 6;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(78) {
    -ms-grid-row: 6;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(79) {
    -ms-grid-row: 6;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(80) {
    -ms-grid-row: 6;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(81) {
    -ms-grid-row: 6;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(82) {
    -ms-grid-row: 6;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(83) {
    -ms-grid-row: 6;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(84) {
    -ms-grid-row: 6;
    -ms-grid-column: 14;
  }
  .mygrid2 > *:nth-child(85) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(86) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(87) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(88) {
    -ms-grid-row: 7;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(89) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(90) {
    -ms-grid-row: 7;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(91) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(92) {
    -ms-grid-row: 7;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(93) {
    -ms-grid-row: 7;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(94) {
    -ms-grid-row: 7;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(95) {
    -ms-grid-row: 7;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(96) {
    -ms-grid-row: 7;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(97) {
    -ms-grid-row: 7;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(98) {
    -ms-grid-row: 7;
    -ms-grid-column: 14;
  }
  .mygrid2 > *:nth-child(99) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(100) {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(101) {
    -ms-grid-row: 8;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(102) {
    -ms-grid-row: 8;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(103) {
    -ms-grid-row: 8;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(104) {
    -ms-grid-row: 8;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(105) {
    -ms-grid-row: 8;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(106) {
    -ms-grid-row: 8;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(107) {
    -ms-grid-row: 8;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(108) {
    -ms-grid-row: 8;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(109) {
    -ms-grid-row: 8;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(110) {
    -ms-grid-row: 8;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(111) {
    -ms-grid-row: 8;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(112) {
    -ms-grid-row: 8;
    -ms-grid-column: 14;
  }
  .mygrid2 > *:nth-child(113) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(114) {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(115) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(116) {
    -ms-grid-row: 9;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(117) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(118) {
    -ms-grid-row: 9;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(119) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(120) {
    -ms-grid-row: 9;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(121) {
    -ms-grid-row: 9;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(122) {
    -ms-grid-row: 9;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(123) {
    -ms-grid-row: 9;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(124) {
    -ms-grid-row: 9;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(125) {
    -ms-grid-row: 9;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(126) {
    -ms-grid-row: 9;
    -ms-grid-column: 14;
  }
  .mygrid2 > *:nth-child(127) {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
  }
  .mygrid2 > *:nth-child(128) {
    -ms-grid-row: 10;
    -ms-grid-column: 2;
  }
  .mygrid2 > *:nth-child(129) {
    -ms-grid-row: 10;
    -ms-grid-column: 3;
  }
  .mygrid2 > *:nth-child(130) {
    -ms-grid-row: 10;
    -ms-grid-column: 4;
  }
  .mygrid2 > *:nth-child(131) {
    -ms-grid-row: 10;
    -ms-grid-column: 5;
  }
  .mygrid2 > *:nth-child(132) {
    -ms-grid-row: 10;
    -ms-grid-column: 6;
  }
  .mygrid2 > *:nth-child(133) {
    -ms-grid-row: 10;
    -ms-grid-column: 7;
  }
  .mygrid2 > *:nth-child(134) {
    -ms-grid-row: 10;
    -ms-grid-column: 8;
  }
  .mygrid2 > *:nth-child(135) {
    -ms-grid-row: 10;
    -ms-grid-column: 9;
  }
  .mygrid2 > *:nth-child(136) {
    -ms-grid-row: 10;
    -ms-grid-column: 10;
  }
  .mygrid2 > *:nth-child(137) {
    -ms-grid-row: 10;
    -ms-grid-column: 11;
  }
  .mygrid2 > *:nth-child(138) {
    -ms-grid-row: 10;
    -ms-grid-column: 12;
  }
  .mygrid2 > *:nth-child(139) {
    -ms-grid-row: 10;
    -ms-grid-column: 13;
  }
  .mygrid2 > *:nth-child(140) {
    -ms-grid-row: 10;
    -ms-grid-column: 14;
  }

  .ellie {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 5;
    grid-column-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }

  .autumn {
    -ms-grid-column: 9;
        grid-column-start: 9;
    -ms-grid-column-span: 5;
    grid-column-end: 14;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }

  .ellie-edu {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 10;
        grid-row-start: 10;
  }

  .ellie-loves {
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 2;
    grid-column-end: 7;
    -ms-grid-row: 10;
        grid-row-start: 10;
  }
}
/* SITE STRUCTURE */
.site-header {
  position: absolute;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header a {
  color: #ff6961;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}
.site-header .site-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .logo {
  max-width: 100px;
}
.site-header .top-name {
  max-width: 200px;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* SITE FOOTER */
.site-footer {
  background-color: #5c604d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer a {
  color: white;
  text-decoration: none;
}

section {
  padding: 4em 0;
  min-height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* HERO SECTION */
.hero {
  background-color: #efe4d4;
  padding: 6em 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .container {
  width: 100%;
}
.hero h1 {
  margin-bottom: 0.25em;
}

.site-header .site-nav .menu-button {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  color: white;
  margin: 0;
  font-size: 1.5em;
  line-height: 1;
  z-index: 20;
  padding: 0.5em;
  cursor: pointer;
}
.site-header .site-nav .menu-button svg {
  fill: #3d3935;
}
.site-header .site-nav .menu-button svg rect {
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.site-header .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #5c604d;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  z-index: 1;
}
.site-header .site-nav li {
  font-size: 4vw;
  min-width: 20vw;
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  -webkit-transition: 0.3s all ease-out 0.3s;
  transition: 0.3s all ease-out 0.3s;
  opacity: 0;
  color: #fffdd1;
}
.site-header .site-nav[data-navstate=open] .menu-button {
  position: fixed;
}
.site-header .site-nav[data-navstate=open] #menubar-top {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(7px, 7px) rotate(-45deg);
          transform: translate(7px, 7px) rotate(-45deg);
}
.site-header .site-nav[data-navstate=open] #menubar-middle {
  opacity: 0;
}
.site-header .site-nav[data-navstate=open] #menubar-bottom {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0px, -4px) rotate(45deg);
          transform: translate(0px, -4px) rotate(45deg);
}
.site-header .site-nav[data-navstate=open] ul {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.site-header .site-nav[data-navstate=open] li {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

/* FOOTER SITE-NAV */
.site-footer .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-footer .site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

/* ANIMATIONS */
.hero .container *,
.hero[data-sectionstate=inactive] .container * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.hero .container *:nth-child(1),
.hero[data-sectionstate=inactive] .container *:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.hero .container *:nth-child(2),
.hero[data-sectionstate=inactive] .container *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.hero .container *:nth-child(3),
.hero[data-sectionstate=inactive] .container *:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.hero .container *:nth-child(4),
.hero[data-sectionstate=inactive] .container *:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.hero .container *:nth-child(5),
.hero[data-sectionstate=inactive] .container *:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.hero[data-sectionstate=active] .container *,
.hero[data-sectionstate=inactive][data-sectionstate=active] .container * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#section01 .one-half:nth-child(1) {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
}
#section01[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#section01 .one-half:nth-child(2) {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: translate(50px, 0px);
          transform: translate(50px, 0px);
}
#section01[data-sectionstate=active] .one-half:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#section02 .one-half:nth-child(1) {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: translate(-50px, -50px);
          transform: translate(-50px, -50px);
}
#section02[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#section02 .one-half:nth-child(2) {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: translate(50px, 50px);
          transform: translate(50px, 50px);
}
#section02[data-sectionstate=active] .one-half:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-scale-in,
[data-sectionstate=inactive] .animate-scale-in {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

[data-sectionstate=active] .animate-scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.animate-slide-up,
[data-sectionstate=inactive] .animate-slide-up {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

[data-sectionstate=active] .animate-slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-drop-in-with-delay *,
[data-sectionstate=inactive] .animate-drop-in-with-delay * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.animate-drop-in-with-delay *:nth-child(1),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.animate-drop-in-with-delay *:nth-child(2),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.animate-drop-in-with-delay *:nth-child(3),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.animate-drop-in-with-delay *:nth-child(4),
[data-sectionstate=inactive] .animate-drop-in-with-delay *:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

[data-sectionstate=active] .animate-drop-in-with-delay * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}