/* BUTTONS */

.button {
    display: inline-block;
    background-color: $color-link;
    color: #fff;
    text-decoration: none;
    padding: .5em 4em;
    border-radius: 15px;
    margin: 1em .5em 1em 0;

    &:hover {
        color: #fff;
        background-color: $color-link-dark;
    }
}

