/* RESET BODY */
body {
    margin: 0;
}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

/* MEDIA QUERIES */

/* RESPONSIVE TYPE */
// SMALL
body { font-size: 87.5%; }

@media (min-width: $breakpoint-small) {
    body { font-size: 100%; }
}

@media (min-width: $breakpoint-large) {
    body { font-size: 112.5%; }
}