/* SITE STRUCTURE */

.site-header {
    // background-color: $color-background;
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: $color-accent-red;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 100px;
    }

    .top-name {
        max-width: 200px;
        display: inline;
        align-items: center;
    }

}

/* SITE FOOTER */
.site-footer {
    background-color: $color-accent;
    display: flex;
    padding: 1em;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
    }
}


section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

/* HERO SECTION */
.hero {
    background-color: $color-background;
    // text-align: center;
    padding: 6em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;

    .container {
        width: 100%;
        // margin-left: 0;
        // margin-right: 0;
    }

    h1 {
        margin-bottom: .25em;
    }
    // p {
    //     margin: 1em auto;
    // }
}